@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color:#000000;
  list-style: none;
 }
 
 footer{
   margin:50px;
   text-align: center;
 }
 
 .top{
   margin:0 auto;
 }
 
 .top-botan{
   text-decoration:none;
 }

.botan{
  margin: 10px;
  text-align: center;
  list-style: none;
}

.about{
  margin-top: 10px;
  text-align: center;
  
}

.title{
  margin-left: 40px;
}

.sign-up{
  margin: 10px 0 0 250px;
}

.log-in{
  margin: 10px 0 0 250px;
}
